<header class="header">
    <div class="header__container">
        <div class="header__menu">
            <div class="header__logo">
                Logo
            </div>
            <nav class="header__nav">
                <div class="header__item">
                    <a href="#" class="header__link">
                        Navs
                    </a>
                </div>
                <div class="header__item">
                    <a href="#" class="header__link">
                        Nav
                    </a>
                </div>
                <div class="header__item">
                    <a href="#" class="header__link">
                        Nav
                    </a>
                </div>
                <div class="header__item">
                    <a href="#" class="header__link">
                        Nav
                    </a>
                </div>
                <div class="header__item">
                    <a href="#" class="header__link">
                        Nav
                    </a>
                </div>
            </nav>
        </div>
        <div class="header__body">
            <div class="header__block">
                <div class="header__main-title">
                    Main Title
                </div>
                <div class="header__sub-title">
                    Subtitle
                </div>
                <button class="header__btn">
                    Button
                </button>
            </div>
        </div>
    </div>
</header>