@import "../global.scss";
@import "../../deps/vars.scss";

.header {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $lightColor;

    &__container {
        width: 100%;
        display: block;
        padding-top: 5px;
        margin: 10px auto;
    }

    &__menu {
        display: flex;
        max-width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 65px;
        padding: 0 10px;
        position: relative;
    }

    &__logo {
        font-size: 24px;
        font-weight: 600;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__items {
        display: flex;
        align-items: center;
        gap: 20px;

        &.visible {
            display: flex;
        }

        @media (max-width: 768px) {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            width: 90vw;
            gap: 0;
            top: 65px;
            left: 0;
            padding-left: 10px;
            

            .header__item {
                height: 30px;
            }
        }
    }

    &__burger-menu {
        display: none;

        img {
            max-width: 24px;
        }

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        min-width: 50px;
        height: 30px;
    }

    &__link {
        text-decoration: none;
        font-weight: 600;
        color: $darkColor;
    }

    &__body {
        height: 600px;
        padding-top: 160px;
    }

    &__block {
        margin: 0 auto;
        margin-bottom: 0;
        width: 400px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__main-title {
        font-size: 38px;
        font-weight: 600;
    }

    &__sub-title {
        font-size: 22px;
        margin-top: 6px;
    }

    &__btn {
        width: 120px;
        height: 40px;
        background: #333;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        margin-top: 10px;
    }
}
